#game {

  width: 500px;
  height: 500px;
  background-color: $dark;
  margin: 20px auto 0;

  div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}