body {
    background-color: rgba(0, 0, 0, .9);
    padding:0;
    margin:0;
    font-family: consolas;
    display: flex;
    height: 720px;
    max-height: 720px;
    min-height: 400px;
}

#game {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin:auto;
    background: #222;
    align-self: center;
}

#galow {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#btnNewWord {
    color: white;
    background-color: green;
    border: 1px solid #050;
    box-shadow: 0px 0px 3px #fff;
    border-radius: 5px;
    font-weight: bolder;
    transition: .5s;
    font-size: 10pt;
    text-transform: uppercase;
    width: 80%;
    height: 15%;
}

#btnNewWord:hover {
    background-color: rgba(0, 189, 0, 0.3);
    transform: scale(.95);
}

#container-image {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 3px #fff;
    border-radius: 5px;
    background-color: #111;
}

#image {
    width: 40%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size:100% 100%;
}

#textRes {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 3px #fff;
    text-align: center;
    display: none;
}

#player {
    padding:20px;
    width: 50%;
    height: 130px;
    background-color: rgba(0,0,0,.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*ID FOR THE KEYBOARD*/
#keyboard {
    background-color:#00ad44;
    width: 80%;
    border-radius: 5px;
    padding:10px;
    /*FLEX-BOX*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#switchLetters {
    background-color: rgba(0, 170, 85, 0.877);
    padding: 10px;
    width: 150px;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
}

#word {
    padding:10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 3px #fff;
}

/*CLASSES*/
.letter {
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #888;
    width: 20px;
    margin:2px;
    text-align: center;
    display: none;
}

.error0 {
    background-image: url(../images/error0.png);
}

.error1 {
    background-image: url(../images/error1.png);
}

.error2 {
    background-image: url(../images/error2.png);
}

.error3 {
    background-image: url(../images/error3.png);
}

.error4 {
    background-image: url(../images/error4.png);
}

.error5 {
    background-image: url(../images/error5.png);   
}

.error6 {
    background-image: url(../images/error6.png);            
}

.error7 {
    background-image: url(../images/error7.png);   
}

/*CLASS FOR KEYS OF KEYBOARD*/
.key {
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    font-weight: bold;
    font-family: consolas;
    border:1px solid white;
    font-size: 11pt;
    border-radius: 2px;
    transition: .5s;
}
.key:hover {
    transform: scale(0.9);
}
.key:active {
    background-color: #ddd;
    color: #000;
    transition: .2s;
}

.victory {
    color: rgb(0, 240, 0);
}

.derrote {
    color: red;
}